<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">Contact us</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="#">Phone Number: 09368346373</a></li>
          <li><a class="footer-link" href="#">Address: Upper Cabatangan, Zamboanga City</a></li>
          <li><a class="footer-link" href="#">Website: dvhinetreatscafe.com</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">Quick links</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="{% url 'store:home' %}">Home</a></li>
          <li><a class="footer-link" href="{% url 'store:all-categories' %}">Menu</a></li>
          <li><a class="footer-link" href="{% url 'store:location' %}">Location</a></li>
          <li><a class="footer-link" href="{% url 'store:profile' %}">Profile</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase mb-3">Social media</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="https://www.facebook.com/dvhinetreats">Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top pt-4" style="border-color: #1d1d1d !important">
      <div class="row">
        <div class="col-lg-6">
          <p>&copy; 2022 All rights reserved.</p>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p>Website by Stellaris Development Corp.</p>
        </div>
      </div>
    </div>
  </div>
</footer>